@keyframes spideyswing{
  90%{
    opacity:1;
  }
  100%{
    transform: rotate(135deg);
    opacity:0;
  }
}
.spidey-animate{
  animation-name: spideyswing;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#modal{
  position: fixed;
  top:0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  // display: flex;
  flex-direction: column;
  -webkit-flex-direction: wrap;
  justify-content: center;
  align-items: center;
  display:none;

  .spidey{
    position:absolute;
    top: 0;
    left:30%;
    max-width: 350px;
    transform-origin: top;
    transform: rotate(-135deg);

  }
  .web{
    position: fixed;
    top: 50%;
    left: 50vw;
    width: 100%;
    max-width: 800px;
    transition: transform 600ms;
    transition-timing-function: ease-in;
    transform-origin: center;
    transform: translate(-50%, -300px) scale(0.001,0.01);
  }

  .growth-animation{
    transform: scale(1,1) !important;
  }
  .web.growth-animation{
    transform: scale(1,1) translate(-50%, -50%) !important;
  }
  #form{
    padding: 64px 0;
    padding: 4rem 0;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-transform: scale(0,0);
        transform: scale(0,0);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    input{
      font-family: Limelight;
      color: #20202f;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    input[type=number]::-webkit-outer-spin-button { margin: 0; }
    h3{
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    input[type="number"]{
      width: 3rem;
      height: 3rem;
    }
    .buttons{
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
        -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      text-align:center;
      .button{
        display: inline-block;
        font-family: Limelight;
        color: #20202f;
        font-size: 20px;
        font-size: 1.25rem;
        padding: 8px;
        padding: 0.5rem;
        -webkit-transition: all 1s linear, background-color 1s linear;
        transition: all 1s linear, background-color 1s linear;
        margin: 8px;
        margin: 0.5rem;
        // min-width: 200px;
        background: #c6c6c6;
        background: -webkit-linear-gradient(top, #c6c6c6 0%,#d8d8d8 100%);
        background: linear-gradient(to bottom, #c6c6c6 0%,#d8d8d8 100%);
        &:hover{
          background-color: #20202f;
          background: linear-gradient(to bottom, #40404f 0%, #20202f 100%);
          color: white;
        }
      }
    }
    .guest-name{
      margin-bottom: 0;
    }
    .subtext{
      margin: 0;
      text-align: right;
      align-self: stretch;
    }
  }
  @media screen and (max-width: 768px){
    .web {
      transform: translate(-50%, -100px) scale(0.001,0.01);
    }
    .smaller{
      font-size: 1.25rem;
      margin: 0.2rem 0;
    }
    // #form .buttons{
    //   flex-direction: column;
    // }
    // #form .buttons button{
    //   margin-bottom:1rem;
    //   align-self: stretch;
    //   margin-left:2rem;
    //   margin-right:2rem;
    //   padding-top:1rem;
    //   padding-bottom: 1rem;
    // }
  }
}
